.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #eee;
  flex: 1;
}

.nav-panel {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;

  box-shadow: 0 10px 30px -12px rgba(0 , 0 , 0 , 0.42), 0 4px 25px 0px rgba(0 , 0 , 0 ,  0.12), 0 8px 10px -5px rgba(0 , 0 , 0 , 0.2);
  transition-duration: .2s, .2s, .35s;
  transition-property: top, bottom, width;
  transition-timing-function: linear, linear, ease;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 18rem;
  margin-right: 1.5rem;
}

.manage-page-containers {
  margin: 3rem 0;
  margin-bottom: 0;
}

.nav-bar-top {
  display: flex;
  align-items: center;
  /*margin: 1.2rem 0;*/
  justify-content: space-between;
  min-height: 4rem;
}

.app-header {
  font-size: 1.2rem;
  font-weight: 300;
}

.nav-icons-right {
  display: flex;
  justify-content: flex-end;
}

.nav-icon {
  margin-left: 1rem;
  cursor: pointer;
}