.container {
    display: flex;
    flex-direction: column;
}

.add-category-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}




.tree-view-category {
    flex: 3;
    align-items: stretch;
    border-right: 1px solid #e1e1e1;
}

.category-edit {
    flex: 9;
    padding-left: 1rem;
}






