.app-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.custom-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    margin-bottom: 2rem;
}