.modal-container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.modal-backdrop {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #111;
    opacity: 0.8;
}

.modal-content-container {
    z-index: 999999;
    background: #fff;
    top: 10%;
    height: 70%;
    width: 40rem;
    position: absolute;
    animation: opac0 300ms ease-in-out;
    border-radius: 0.3rem;

    display: flex;
    flex-direction: column;

}

.opac1 {
    animation: opac1 300ms ease-in-out;
}

.opac0 {
    animation: opac0 300ms ease-in-out;
}

@keyframes opac1 {
    from {
        top: -300px;
    }
    to {
        top: 10%;
    }
}

@keyframes opac0 {
    from {top: 10%}
    to {top: -300px}
}


.close-icon-btn {
    position: absolute;
    top: .7rem;
    right: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ddd;
    padding: .3rem;
    border-radius: 50%;
}

.close-icon {
    font-size: 2rem !important;
    color: #515151;

}

.close-icon-btn:hover {
    cursor: pointer;
}

.close-icon-btn:hover .close-icon{
    color: #111;
}

.modal-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
    /*border-bottom: 1px solid #ddd;*/
    padding: 0.6rem;
    max-height: 3rem;
}

.modal-body {
    flex: 9;
    display: flex;
    overflow-y: auto;
}